.button {
    padding: 5px 25px 5px 25px;
    border-radius: 10px;
    box-shadow: rgba(27, 31, 35, 0.1) 0px 1px 0px 0px, rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
    transition-duration: 0.1s;
}

.button:hover {
    color: #ffffff;
    background-color: #E53935;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    box-shadow: rgba(27, 31, 35, 0.1) 0px 1px 0px 0px, rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
    transition-duration: 0.1s;
}

.mbutton {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #E53935;
    color: #ffffff;
    outline: 0.5px solid white;
    border-radius: 5px;
  }
  